
html{
    background: #ddd;
    background-image: url("../assets/images/shots/Stripe.jpg");
    box-sizing: border-box;
}
body{
    width:90%;
    margin:1rem auto ;
     
    padding:1rem ;    
    position: relative;
    font-size:1rem;
    font-weight:normal;
   
    font-family: "roboto", 'Helvetica Neue', sans-serif;

}
p{
    padding: 0,.5rem;
    margin:0.14rem;
    text-indent: 16px;
   
    

    

}
h2,h3,h4,h5,h6{
    font-family:"raleway";
}
.border-radius-2 {
    border-radius: .5rem;
    box-shadow: -2px -2px 5px #fff,2px 2px 5px #fff;
}
.border-radius-2:hover{
    box-shadow: -5px -5px 5px 2px #fff,5px 5px 5px 2px #fff;
}
.border-bottom-2{
border-bottom:2px solid #ddd;
width :auto;
}
.border-red{
    border:1px solid red;
}
.box-shadow{
    box-shadow: 2px 2px 2px #fff;
    
    margin-top:0;
}
.red-border{
    border:1px solid red;
}
.join-list{
    list-style: none;
    margin:0;
    
    margin:.25rem 0;
    border-bottom:1px solid red;
}
.news-slider{
    transition:transform .26s ease-out;
    -webkit-transition:transform opacity 2s linear ease-out ;
    animation: newspane  2s  ease-in-out normal ;
}
.list-service{
    display:inline;   
    list-style: none;
}
.list-group-service{
display:inline-block;    
padding: .35rem .35rem;
line-height: 1.6em;
border-bottom:1px solid #ddd;
margin:.35rem ;
font-size:1rem;
max-width:100%;
}
.list-group-service:hover{
    background:rgb(242,154,59);
}
@keyframes newspane {
 0%{
    
     opacity:0;
      transform:translate(500px);
      -o-transform:translate(500px);
      -moz-transform:translate(500px);
      -webkit-transform:translate(3500px);

  }
 50%{
    
    transform:translate(300px);
    -o-transform:translate(300px);
    -moz-transform:translate(300px);
    -webkit-transform:translate(300px);}

    75%{transform:translate(150px);
        opacity:.8;
        -o-transform:translate(150px);
        -moz-transform:translate(150px);
        -webkit-transform:translate(150px);}
  100%{
  
      opacity:1;
    transform:translate(0px);
      -o-transform:translate(0px);
      -moz-transform:translate(0px);
      -webkit-transform:translate(0px);
  }
}
/*nav*/
nav:hover{box-shadow: 2px 2px 2px rgba(231, 225, 225, 0.938); z-index:1040;}
.cursor{cursor: pointer;}
.nav-link{
    color:white;
}
.nav-item:hover{
border-radius: 1rem;
}
.fixed-nav {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1030;
    margin:0 auto;
    width:90%;
    transition:all 2s ease;
    background:orange;
    
}

/*admin nav*/
.admin-nav{
    display:flex;
    flex-direction:row;
    list-style: none;
    flex-wrap:wrap;
    align-items:flex-start;
    align-content: stretch;
    justify-content:flex-start;
    margin:.5rem 0;
    color:black !important;
    
}
.admin-nav li:hover{
    color:red;
}

/*footer*/
.footer-link{
    list-style: none;
    
}
.footer-link-item{
    color:white;
}
footer{
    color:white;
}

.border-left{
    border-left: 1px solid #fff;
}
/*header*/
.header{
    height:100px;
 background-repeat: no-repeat;
  
    line-height:1.6em;
    width:100%;
}
.header-list, .header-list li {
    padding:0;
    margin:0;
    list-style: none;
   
}
/* Social media icons*/
.social-nav{
background:#fff;
z-index:10;
list-style: none;
padding:0;
border-radius: .75rem;
animation: sm 2s ease-in 5s 0 alternate forwards;
transition: transform .25s linear;
}
/*side socialmedia*/
.social-navbar{
    position: absolute;
    top:30%;
    left:-30px;
    transform:translate(-200px);
    border-right:2px solid red;
}
.social-table  li a{
    width:20px;
}

.social-table li  {
    display: inline; 
    
    
}
/*header socialmedia*/
.social-menu{
    position: absolute;
    top:50px;
    right:150px;
}

.social-menu li {
    display:inline;   
    padding:5px;
    margin:0;
    top:-5px;
    
}
.social-menu li a{background:none;}
.social-nav li{
    padding:.25rem;
}
.social-nav li  img{
   width:40px;
   height:auto;
   background:blue;
    
}
.social-footer li{
    display: inline;
}

/*brand list*/
.brand-list  {
list-style: none;


} 
.brand-list li{
  padding:0;
  margin:0;  
 display:inline;
}
.brand-list li a{
    display:inline-block;
}

.border-bottom{
    border-bottom:1px solid #ddd;
}
.brand-image:hover{
transform:scale(1.5);
}

/*application form*/
.application-form{
    box-shadow: -2px -2px 5px #ddd, 2px 2px 5px #ddd;
    background:#fefefe;
    
}
.box-shadow-white{
    box-shadow: -2px -2px 5px #ddd, 2px 2px 5px #ddd;
    z-index:10;  
}
/*networking*/

.networking{
    
    font-size:.75rem;
    
    
}
.network-img:hover{
transform:scale(1.5);
z-index:100;

}
.network{
    transition: all ease-in 1s;
    animation:networker 1s 1 alternate-reverse;
    max-width:100%;
    height:auto;
    box-sizing: border-box;
    
    
    
}
.footer-network img{
    box-sizing: border-box;
    
}
@keyframes networker {
    0%{ opacity:0.5}
    
    100%{transform:1;}
}

@keyframes sm{
    0%{transform:translate(0px)}
    100%{transform:translate(-10px)}
}
.text-danger{
    cursor:pointer;
}


.navbar{border-bottom:2px solid #e83e3c;}


.navigator{
    display:none;
position: absolute;
transform:translate(-1000px);
    
}
.card-member{
    width:23%;
    float:left;
    margin:.25rem;
    height:520px;
    z-index: 10;
}
.fast-track:hover{
    perspective: 1000px;;
    transform:scale(1.1);  
    background:#ddd;
    z-index: 50;  
    border-radius: none;    
    border:1px solid yellow;
    translate:all .5s linear;
}
.council-socials{
   
    list-style:none;
    padding: 0 .25rem;
}
.council-socials li{
    display: inline;
    margin:0 .25rem;
    padding:0;
    text-align:center;
}
/* for error 404 and 403*/
.error-div{
    margin:0 auto;
    box-shadow: -2px-2px 5px 5px #ccc,2px 2px 5px 5px #ddd;
    background:url("../assets/images/stop.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding:1rem;
    line-height: 1em;
     height:100vh;
}
/*keep me alive*/
.keep-me-alive{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background:rgb(0, 0,0,.7);
    
    z-index:100;
    transition:all .5s ease-in;
}
.alive-longer{
    opacity:0.2,

}

.keep-me-alive-img{
   position:absolute;
   top:50%;
   left:50%;
   z-index:110;
   transition:all linear 1s;
   animation:kept-alive 5s alternate forwards infinite;
}

@keyframes kept-alive{
    
    to{transform:rotate(360deg);}
}

/*MEDIA QUERIES*/
/*mobile devices*/
@media  (max-width:480px){

    .header{
        height:50px;
    }
    .social-navbar {
        
        position: absolute;
        bottom:0;
        left:-20px;
        border:none;
        height:180px;
        z-index:11;
        
       
        
    }
    .social-navbar li {
        display:block;        
        position: relative;        
        z-index:11;
        
        
    }
    .social-menu {
       display:none;
    }
   
    .more-img{width:100%;}
    .header-list{display: none;}

    /*services*/
    .list-service{
        display:block;   
        list-style: none;
    }
    .list-group-service{
    display:block;    
    padding:  .5rem 0.12rem;
    line-height: 1em;
    border-bottom:1px solid #ddd;
    margin:0;
    font-size: 1rem;
    max-width:100%;
    }
    /*navigator*/
    .navigator{
        display:block;
        position: fixed;
        z-index: 10;
        bottom:30%;
        right:8px;
        transform:translate(0px);
        visibility: hidden;
    }
    .ease-in{
        transition: visibility .3s ease-in-out;
    }
}

/*tablets*/
@media  (min-width:480px) and (max-width:768px){
    .social-navbar {
        position: absolute;
        top:50%;
        left:-20px;
        border:none;
        height:180px;
        z-index:11;
        
    }
    .social-navbar li {
               
        position: relative;        
        z-index:11;
        
        
    }
    .social-menu {
    position: absolute;
    top:20px;
    right:50px
    }
    .more-img{width:100%;}
    .header-list{display: none;}

    /*services*/
    .list-service{
        display:block;   
        list-style: none;
    }
    .list-group-service{
    display:block;    
    padding: .5rem .12rem;
    line-height: 1em;
    border-bottom:1px solid #ddd;
    margin: .25rem 0 ;
    font-size:1rem;
    max-width:100%;
    }
    /*navigator*/
    .navigator{
        display:block;
        position: fixed;
        z-index: 10;
        bottom:30%;
        right:30px;
        transform:translate(0px);
        visibility: hidden;
    }
}



/*membership*/
@media (max-width:480px){
    .card-member{
        width:100%;
        float:none;
    }
}

@media  (min-width:768px) and (max-width:768px){
    .card-member{
        width:100%;
        float:none;
    }
}