
@import "~bootstrap/scss/bootstrap.scss";

$bg-aprecom1:rgb(58,187,233);
$bg-aprecom2:rgb(129,194,79);
$bg-aprecom3:rgb(242,154,59);
$bg-aprecom4:rgb(262,62,60);
.bg-aprecom1{
    background:$bg-aprecom1;
    color:white;
}
.bg-aprecom2{
    background:$bg-aprecom2; 
}
.bg-aprecom3{
    background:$bg-aprecom3; 
}
.bg-aprecom4{
    background:$bg-aprecom4; 
}
.bg-transparent{background-color:transparent;}
.holder-anchor{
    height:30px;
    
}